DATABASE_URL="postgresql://postgres:postgres@localhost:5432/muscle_temple?schema=public"
PORT=4000
NODE_ENV=development
APP_URL="http://localhost:4000"
ADMIN_EMAIL="admin@muscletemple.com"
ADMIN_PASSWORD="ChangeMeStrongPassword123!"
JWT_SECRET="super-secret-jwt-key"
CORS_ORIGIN="http://localhost:3000"
