DATABASE_URL="postgresql://postgres:postgres@localhost:5432/muscle_temple?schema=public"
PORT=4000
NODE_ENV=development
APP_URL="http://localhost:4000"
ADMIN_EMAIL="admin@muscletemple.com"
ADMIN_PASSWORD="ChangeMeStrongPassword123!"
JWT_SECRET="change-this-to-a-long-random-string-at-least-32-chars"
CORS_ORIGIN="http://localhost:3000,https://your-nextjs-domain.vercel.app"
